<!-- Estudios-->
<aside class="container main  mt-2 rounded">
    <div class="container">
      <h3 class="display-3 text-light text-center">Educación</h3>
    </div>
    <div class="container">
      <p class="let fs-4 text-light border-bottom text-center">Estudios Universitarios</p>
      <p class="let fs-5 text-light text-center">Técnico Universario en Desarrollo Web - UNER-FCAD - 2022 - actualidad</p>
      <p class="let fs-4 text-light border-bottom text-center">Cursos</p>
      <p class="let fs-6 text-light text-center">Sé Programar - Argentina Programa - 2022 - Finalizado</p>
      <p class="let fs-6 text-light text-center">Yo Programo - Argentina Programa - 2022 - Actualidad</p>
      <p class="let fs-6 text-light text-center">Programador Python - Edutin Delaware EE.UU - 2021 - Finalizado</p>
      <p class="let fs-6 text-light text-center">Diseño,desarrollo y planificacion web - Domestika - 2021 - Finalizado</p>
      <p class="let fs-6 text-light text-center">Técnicas de desarrollo web con html5 y Css3 - Domestika - 2021 - Finalizado</p>
      <p class="let fs-6 text-light text-center">Curso de SEO - Edutin - 2021 - Actualidad</p>
      <p class="let fs-6 text-light text-center">Desarrollo web con Wordpress - Edutin - 2021 - Finalizado</p>
    </div>
  </aside>
