<!-- proyectos-->
<section class="container main mt-2 pb-3">
    <h3 class="display-2 text-center text-light let pb-2 pt-2  " id="trabajos">Mis proyectos web</h3>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto mx-auto my-2">
          <div class="card bg-black text-light" style="width: 18rem;">
            <img src="../../../assets/ucade_1.png" loading="lazy" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title border-bottom">UCADE</h5>
              <p class="card-text">Sitio Web Oficial de la Unión de Colectividades en Argentina para el desarrollo.</p>
              <a href="https://ucade.com.ar/" class="btn btn-success bg-gradient" target="_blank">Visitar</a>
            </div>
          </div>
        </div>
        <div class="col-auto mx-auto my-2">
          <div class="card bg-black text-light" style="width: 18rem;">
            <img src="../../../assets/logof.jpg" loading="lazy" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title border-bottom">Portavoz de las Colectividades</h5>
              <p class="card-text">El primer diario digital de colectividades en argentina.</p>
              <a href="https://portavozucade.com.ar/" class="btn btn-success" target="_blank">Visitar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Segundo container de cards -->
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto mx-auto my-2">
          <div class="card bg-black text-light" style="width: 18rem;">
            <img src="../../../assets/lecturas_logo.jpeg" loading="lazy" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title border-bottom">Lecturas sobre el camino</h5>
              <p class="card-text">Sitio web focalizado en la lectura y reseñas de diversos titulos literarios y propios.</p>
              <a href="https://lecturasc.com.ar/" class="btn btn-success bg-gradient" target="_blank">Visitar</a>
            </div>
          </div>
        </div>
        <div class="col-auto mx-auto my-2">
          <div class="card bg-black text-light" style="width: 18rem;">
            <img src="../../../assets/logo_CV_Oficial.jpg" loading="lazy" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title border-bottom">Centro Vasco de Concordia Entre Rios | Ibaiko Izarra</h5>
              <p class="card-text">Sitio web oficial del Centro Vasco Ibaiko Izarra de concordia.</p>
              <a href="https://centrovasco.netlify.app/" class="btn btn-success" target="_blank">Visitar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Tercer container de cards -->
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto mx-auto my-2">
          <div class="card bg-black text-light" style="width: 18rem;">
            <img src="../../../assets/logo.jpeg" loading="lazy" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title border-bottom">Ilustraciones MEG</h5>
              <p class="card-text">Portfolio del ilustrador Eduardo Moltrassio,oriundo de Concordia,Entre Rios,Argentina.</p>
              <a href="https://megilustraciones.netlify.app/" class="btn btn-success bg-gradient" target="_blank">Visitar</a>
            </div>
          </div>
        </div>
        <div class="col-auto mx-auto my-2">
          <div class="card bg-black text-light" style="width: 18rem;">
            <img src="../../../assets/logofrankro.png" loading="lazy" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title border-bottom">Jonathan Castro Fotografía</h5>
              <p class="card-text">Portfolio oficial de Jonathan Castro, fotógrafo profesional ubicado en Mendoza,Argentina.</p>
              <a href="https://jonathancastroph.netlify.app/" class="btn btn-success" target="_blank">Visitar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
